*.class
**/target/
**/bin/
*.jar
*.war
*.ear

**/.idea/
**/*.iml
**/.gradle/

**/.project
**/.classpath
**/.settings/
**/.factorypath
**/.tern-project

HELP.md
mvnw
mvnw.cmd
**/.mvn/

.metadata/
*.bak
*.ini
/node_modules/
hs_err_pid*

*.pem
*.ppk

.mtj.tmp/